
/* Your CSS Code here. */
form {
            width: 300px;
            margin: 0 auto;
            padding: 1em;
            border: 1px solid #ccc;
            border-radius: 1em;
        }
        div {
            margin-bottom: 1em;
        }
        label {
            margin-bottom: .5em;
            color: #333333;
            display: block;
        }
        input, button {
            border: 1px solid #ccc;
            padding: .5em;
            font-size: 1em;
            width: 100%;
            box-sizing: border-box;
        }
        button {
            background: #007BFF;
            color: white;
            border: none;
            padding: 0.7em;
            cursor: pointer;
        }
        button:hover {
            background: #0056b3;
        }
